
/*Por Favor NO cambiar estilos de esta pagina
cualquier cambio altera el contenido de la pagina */

ul li{
    list-style-type: none;
     display: inline;
     font-size: 24px;
     background: #7CE2EE;
     padding:15px;
     border-radius: 15px;
}

#cabecera{
   text-align: center;
   font-family: Calibri;
   color: #0C75EA;  
   background-color: #7CE2EE;
   padding: 10px;
}

#menu{
     text-align: center;
     background-color: #7CE2EE;
     padding: 10px;
}

#pie{
    text-align: center;
    background: #7CE2EE;
    font-size: 15px;
    color: #3C424A;  
}

a{
    text-decoration:none;
    color:#3C424A;
}

#cuerpo{
    font-size: 15px;
    font-family: "Georgia";
    text-align: center;
    padding-top: 100px;
}

.row {
    font-size: 15px;
   text-decoration:none;
}

a:hover{
    text-decoration: none;
     color: #0C75EA; 
     font-size: 25px;
}
.row a{
    color:red;
}